.App {
  text-align: center;
}

.listItemPerso {
  position: relative;
  text-decoration: none;
}

.listItemPerso::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 1s ease; /* Transition de la largeur sur 1 seconde */
}

.listItemPerso:hover::before {
  width: 100%;
}

.pannel {
  background-image: linear-gradient(rgba(255, 255, 255, 0.09),rgba(255, 255, 255, 0.09));
  border-radius: 0 5px 1em 5px !important;
  position: absolute;
  border-bottom:1px solid black;
  border-right: 1px solid black;
  text-decoration: none;
  padding: 8px 16px; /* Ajoutez un peu de marge pour l'ombre */
  border-radius: 4px; /* Arrondissez les coins si désiré */
  z-index: 99;
  transition: box-shadow 0.5s ease; /* Ajoutez une transition pour un effet de survol fluide */
}

.pannel:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3); /* Déplace l'ombre vers le bas et à droite */
}

.css-rvpx60-MuiPieArc-root {
  stroke: none !important; /* Enlève les contours des segments */
}

.MuiChartsLegend-series text{
  fill:black !important;
}