.App {
  text-align: center;
}

.listItemPerso {
  position: relative;
  text-decoration: none;
}

.listItemPerso::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 1s ease; /* Transition de la largeur sur 1 seconde */
}

.listItemPerso:hover::before {
  width: 100%;
}

.pannel {
  position: absolute;
  text-decoration: none;
  padding: 8px 16px; /* Ajoutez un peu de marge pour l'ombre */
  border-radius: 4px; /* Arrondissez les coins si désiré */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); /* Ajoutez une ombre avec un décalage de 2px vers le bas et 2px vers la droite */
  transition: box-shadow 0.3s ease; /* Ajoutez une transition pour un effet de survol fluide */
}

.pannel:hover {
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.3); /* Au survol, augmentez l'ombre pour un effet plus prononcé */
}